doctype html
html(lang="en")
  head
    title titlePage
    link(rel="stylesheet" href="./styles.css")
    // fonts
    link(href="https://fonts.googleapis.com/css?family=Amarante" rel="stylesheet")
  body
    header
      h1 Drag'n'Drop
    main
      .content
        h1 drag area
        .drag-area
          - for (var i=0; i<4; i++)
            .drag-elem
              p very long text here
              h2= i
              img(src="https://images.pexels.com/photos/30627/pexels-photo-30627.jpg?w=1260&h=750&auto=compress&cs=tinysrgb")
        h1 drop area
        .drop-area
  script(src="./javascripts.js")
