body {
  background: #34495E;
  color: #ddd; }

.drag-area {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  border: 2px solid darkblue;
  border-radius: 10px;
  min-height: 50px; }

.drop-area {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 50px; }

.wrap-elem {
  margin: 1em; }
  .wrap-elem .drag-elem {
    width: 100px;
    height: 100px;
    padding: .5em;
    background: rgba(0, 0, 40, 0.5);
    border-radius: 1em;
    user-select: none;
    cursor: pointer; }
    .wrap-elem .drag-elem:active {
      -webkit-animation: jelly .4s;
      -moz-animation: jelly .4s;
      -o-animation: jelly .4s;
      animation: jelly .4s;
      cursor: move;
      z-index: 999; }
  .wrap-elem .taken {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5); }

@keyframes jelly {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.4); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
